.box1 {
    margin-left: 0px;
    transition: 1s ease-in-out ;
}
.box1:hover {
    margin-left: 500px;
    transition: 1s ease 0;
}


.box2 {
    animation: turn 3s linear 0 infinite normal none running;
}
@keyframes turn {
    0%{
        background-color: red;
        transform: rotate(90deg);
    }
    33%{
        background-color: yellow;
        transform: rotate(180deg);
    }
    66%{
        background-color: blue;
        transform: rotate(270deg);
    }
    100%{
        background-color: red;
        transform: rotate(360deg);
    }
}